# DEPENDENCIES
/node_modules

# TESTING
/coverage

# NEXT JS
/.next/
/out/

# PRODUCTION
/build

# MISC
.DS_Store
*.pem

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ENVOIRMENT VARIABLE FILES
.env

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts