/* HOME PAGE CSS */
.dashboard-cta-button {
  position: relative;
  background: #ffffff;
  z-index: 1;
  overflow: hidden;
}

.dashboard-cta-button::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    #7c3aed 90deg,
    #3b82f6 180deg,
    #22d3ee 270deg,
    transparent 360deg
  );
  animation: spin 3s linear infinite;
  z-index: -1;
}

.dashboard-cta-button::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: white;
  z-index: -1;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* WEBSITE LOADER CSS */
.loader {
  height: 30px;
  aspect-ratio: 2;
  display: grid;
  background:
    radial-gradient(farthest-side,#000 15%,#0000 18%)0 0/50% 100%,
    radial-gradient(50% 100% at 50% 160%,#fff 95%,#0000) 0 0   /50% 50%,
    radial-gradient(50% 100% at 50% -60%,#fff 95%,#0000) 0 100%/50% 50%;
  background-repeat: repeat-x;
  animation: l2 1.5s infinite linear;
}

@keyframes l2 {
  0%,
  15% {background-position:0   0,0 0,0 100%}
  20%,
  40% {background-position:5px 0,0 0,0 100%}
  45%,
  55% {background-position:0   0,0 0,0 100%}
  60%,
  80%{background-position:-5px 0,0 0,0 100%}
  85%,
  100% {background-position:0   0,0 0,0 100%}
}